.footer-container{
    display: flex;
    justify-content: center;
    background: #1d2020;
    margin: 0;
    z-index: 45;
}

.footer-link{
    font-size: 26px;
    color:antiquewhite;
    margin: 10px;
    text-align: center;
}